@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'nunito';
}

input {
    border-radius: 25px;
    height: 50px;
    border: 1px solid #d5deed;
    padding-left: 20px;
    color: #405069;
    font-size: 0.875rem;
}

input[type=text] {   
    /* Remove Iphone Shadow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.sr-only {
    display: none;
}